<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>概要</title>
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/layui.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap-select.min.css">
    <link rel="stylesheet" href="../css/style.css">

</head>
<body class="layout-body">
<div class="layout-admin">
    <div class="header">
        <div class="ui_header_container clearfix">
            <div class="logo-icon">
                <a href="javascript:void(0);"><img src="../images/logo.png" alt="微读联盟" width="84" height="30"></a>
            </div>
            <div class="loginbar">
                <div class="message fun_dyna" data-toggle="modal" data-dynamic="showNotice">
                    <span class="red-spot fun_notice_icon"></span>
                </div>
                <div class="user">Lorem ipsum.</div>
                <div class="quit"></div>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="sidebar">
            <div class="side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="nav-tree fun_nav_list">
                    <li class="nav-item"><a href="/layui-v2.2.5/layui/view/summary.html" class="cbtn"><span class="nav-icon nav-icon-summary"></span>概要</a></li>
                    <li class="nav-item"><a href="/layui-v2.2.5/layui/view/data.html" class="cbtn"><span class="nav-icon nav-icon-data"></span>数据</a></li>
                    <li class="nav-item"><a href="/layui-v2.2.5/layui/view/generalize.html" class="cbtn"><span class="nav-icon nav-icon-generalize"></span>推广</a></li>
                    <li class="nav-item"><a href="/layui-v2.2.5/layui/view/recommend.html" class="cbtn"><span class="nav-icon nav-icon-recommend"></span>推荐商户</a></li>
                    <li class="nav-item"><a href="/layui-v2.2.5/layui/view/withdrawDeposits.html" class="cbtn"><span class="nav-icon nav-icon-withdraw"></span>提现</a></li>
                    <li class="nav-item"><a href="/layui-v2.2.5/layui/view/setting.html" class="cbtn" ><span class="nav-icon nav-icon-setting"></span>设置</a></li>
                </ul>

            </div>
            <div class="QQ">
                <div class="QQ-item"><a href="javascript:void(0);"><span class="QQ-icon"></span>客服QQ</a></div>
                <div class="QQ-item"><a href="javascript:void(0);" class="QQ-item-gray"><span class="QQ-icon"></span>客服QQ</a></div>
            </div>
        </div>

        <div id="summary_page_content" class="content-main">
            <div class="ui_hd clearfix">
                <ul class="ui_my_info">
                    <li class="ui_my_info_item">
                        <p>璞玉级</p>
                        <p>账户等级</p>
                    </li>
                    <li class="ui_my_info_item">
                        <p>70%</p>
                        <p>分成比例</p>
                    </li>
                    <li class="ui_my_info_item">
                        <p>30</p>
                        <p>推荐商户数</p>
                    </li>
                    <li class="ui_my_info_item">
                        <p>璞玉级</p>
                        <p>账户等级</p>
                    </li>
                    <li class="ui_my_info_item">
                        <p>3年 178天</p>
                        <p>在网时长</p>
                    </li>
                </ul>

            </div>

            <div class="ui_bd">
                <div class="clearfix">
                    <p class="ui_section_title float-l">我的财富</p>
                    <div class="ui_section_title float-r">
                        <div class="ui_g_ico_btn ui_tixian_btn">
                            <span class="ui_left_icon"></span>
                            <span class="ui_btn_text">提现</span>
                        </div>
                    </div>
                </div>
                <ul class="ui_wealth_box clearfix">
                    <li class="ui_wealth">
                        <div class="ui_wealth_title">本账号佣金收入</div>
                        <div class="ui_wealth_content">
                            <div class="ui_wealth_content_item">
                                <p>
                                    <span>分发渠道数量：</span>
                                    <span>4</span>
                                </p>
                                <p>
                                    <span>已提现佣金：</span>
                                    <span>￥1,242</span>
                                </p>
                            </div>
                            <div class="ui_wealth_content_item">
                                <p>
                                    <span>未提现佣金：</span>
                                    <span>￥325.8</span>
                                </p>
                                <p>
                                    <span>佣金总和：</span>
                                    <span>￥1,242</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="ui_wealth">
                        <div class="ui_wealth_title">推荐商户分成</div>
                        <div class="ui_wealth_content">
                            <div class="ui_wealth_content_item">
                                <p>
                                    <span>推荐商户数：</span>
                                    <span>4</span>
                                </p>
                                <p>
                                    <span>已提现分成：</span>
                                    <span>￥1,242</span>
                                </p>
                            </div>
                            <div class="ui_wealth_content_item">
                                <p>
                                    <span>未提现分成：</span>
                                    <span>￥325.8</span>
                                </p>
                                <p>
                                    <span>佣金总和：</span>
                                    <span>￥1,242</span>
                                </p>
                            </div>
                        </div>
                    </li>

                </ul>

                <p class="ui_section_title">我的渠道</p>
                <ul class="clearfix">
                    <li class="ui_date">
                        <p class="ui_date_title">今日</p>
                        <div class="ui_date_content">
                            <p>新增阅读用户：<span>300</span>人</p>
                            <p>其中付费用户：<span>120</span>人</p>
                            <p>获得佣金：￥<span>863.8</span></p>
                            <p>普通充值：￥<span>863.8</span></p>
                            <p>VIP包月：￥<span>863.8</span></p>
                        </div>
                    </li>
                    <li class="ui_date">
                        <p class="ui_date_title">昨日</p>
                        <div class="ui_date_content">
                            <p>新增阅读用户：<span>300</span>人</p>
                            <p>其中付费用户：<span>120</span>人</p>
                            <p>获得佣金：￥<span>863.8</span></p>
                            <p>普通充值：￥<span>863.8</span></p>
                            <p>VIP包月：￥<span>863.8</span></p>
                        </div>
                    </li>
                    <li class="ui_date">
                        <p class="ui_date_title">本月</p>
                        <div class="ui_date_content">
                            <p>新增阅读用户：<span>300</span>人</p>
                            <p>其中付费用户：<span>120</span>人</p>
                            <p>获得佣金：￥<span>863.8</span></p>
                            <p>普通充值：￥<span>863.8</span></p>
                            <p>VIP包月：￥<span>863.8</span></p>
                        </div>
                    </li>
                    <li class="ui_date">
                        <p class="ui_date_title">历史</p>
                        <div class="ui_date_content">
                            <p>新增阅读用户：<span>300</span>人</p>
                            <p>其中付费用户：<span>120</span>人</p>
                            <p>获得佣金：￥<span>863.8</span></p>
                            <p>普通充值：￥<span>863.8</span></p>
                            <p>VIP包月：￥<span>863.8</span></p>
                        </div>
                    </li>
                </ul>

            </div>


            <div class="ui_ft">
                <p>站内统计数据均会有10分钟左右延迟，请您知晓。</p>
            </div>
        </div>

    </div>
</div>


<script src="../js/jquery-1.7.2.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/bootstrap-select.min.js"></script>
<script src="../layui.js"></script>
<script src="../js/tools.js"></script><!--表单验证-->
<script>
    layui.use(['layer','form', 'element'], function () {
        var layer = layui.layer,
            element = layui.element;
        //初始化
        Editor.init();
        // Editor.reader();
    });

    var Editor = {
        hasInit: false,
        itemid: null,
        init: function () {
            var me = this;
            me.hasInit = true;//这里今后可以做回调
            //初始化-具体执行方法
            Editor.reader();
            Editor.pageInit();

        },
        reader: function () {

            var me = this;

            $(document).on("click", ".cbtn", function () {
                var ctoggle = $(this).attr("data-toggle");//通用点击属性
                switch (ctoggle) {
                    case "":
                        layer.closeAll();
                        break;
                    default:
                        break;
                }
            });
        },
        pageInit: function () {
            var me = this;
            $(document).on("click", ".fun_dyna", function (e) {
                var dynamic = $(this).attr("data-dynamic");//页面通用点击属性
                switch (dynamic) {
                    case "showNotice":
                        Editor.showNotice(e);
                        break;
                    case "showNoticeDetail":
                        Editor.showNoticeDetail($(this));
                        break;
                    default:
                        break;
                }
            });
        }
        /*显示通知栏*/
        ,showNotice:function (e) {
            $(".fun_notice").modal('show');//显示模态框
            Editor.hideNoticeIcon();//隐藏通知红点
            Editor.setNoticeLocation(e);//设置通知栏的显示位置
        }
        /*显示详细通知*/
        ,showNoticeDetail:function (ele) {
            $(".fun_notice_detail").modal('show');//显示模态框
            Editor.showYdIcon($(ele));//显示已读图标，未读改为已读
        }
        /*隐藏首页通知的红点*/
        ,hideNoticeIcon:function () {
            $(".fun_notice_icon").removeClass('red-spot');//显示模态框
        }
        /*显示首页通知的红点*/
        ,showNoticeIcon:function () {
            $(".fun_notice_icon").addClass('red-spot');//显示模态框
        }
        /*显示已读图标，未读改为已读*/
        ,showYdIcon:function (ele) {
            var iconEle = $(ele).find(".fun_get_icon");//获取红点元素
            iconEle.removeClass('ui_wd_icon');//清除未读红点样式
            iconEle.removeClass('ui_jj_icon');//清除紧急图标样式
            iconEle.addClass('ui_yd_icon');//显示已读灰点样式
        }
        /*设置通知栏的显示位置*/
        ,setNoticeLocation:function (e) {
            var leftLoc = $(e.target).offset().left;
            $(".fun_notice_list").css({"left":leftLoc-170});
        }
    }
</script>

</body>
</html>


<div class="modal fun_notice">
    <div class="modal-content ui_notice fun_notice_list">
        <ul>
            <li class="ui_notice_item fun_dyna" data-dismiss="modal" data-toggle="modal" data-dynamic="showNoticeDetail">
                <p><span class="ui_wd_icon fun_get_icon"></span><span class="ui_notice_content">新增阅读用户新增阅读用户新增阅读用户新增阅读用户新增阅读用户新增阅读用户新增阅读用户</span></p>
            </li>
            <li class="ui_notice_item fun_dyna" data-dismiss="modal" data-toggle="modal" data-dynamic="showNoticeDetail">
                <p><span class="ui_yd_icon fun_get_icon"></span><span class="ui_notice_content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam eius eligendi eveniet, itaque minima molestiae molestias qui quo reiciendis veritatis.</span></p>
            </li>
            <li class="ui_notice_item fun_dyna" data-dismiss="modal" data-toggle="modal" data-dynamic="showNoticeDetail">
                <p><span class="ui_jj_icon fun_get_icon"></span><span class="ui_notice_content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam eius eligendi eveniet, itaque minima molestiae molestias qui quo reiciendis veritatis.</span></p>
            </li>
        </ul>
    </div>
</div>


<div class="modal fun_notice_detail">
    <div class="modal-content ui_notice_detail">
        <div class="modal-header ui_hd">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <p>
                <span class="ui_jj_icon"></span>
                <span class="ui_notice_title">您可能存在违规操作，已被系统封禁您可能存在违规操作，已被系统封禁</span>
            </p>
        </div>
        <div class="ui_bd">
            <p>
                您可能存在违规操作，已被系统封禁，去申请恢复，您可能存在违规操作，已被系
                封禁，去申请恢复您可能存在违规操作，已被系统封禁，去申请恢复您可能存在违规
                操作，已被系统封禁，去申请恢复您可能存在违规操作，已被系统封禁，去申请恢复
                您可能存在违规操作，已被系统封禁。
            </p>
            <p>
                您可能存在违规操作，已被系统封禁，去申请恢复，您可能存在违规操作，已被系
                封禁，去申请恢复您可能存在违规操作，已被系统封禁，去申请恢复您可能存在违规
                操作，已被系统封禁，去申请恢复您可能存在违规操作，已被系统封禁，去申请恢复
                您可能存在违规操作，已被系统封禁。
            </p>
        </div>
    </div>
</div>



